**
!package.json
!README.md
!README.zh-CN.md
!CHANGELOG.md
!LICENSE
!PRIVACY.md
!SUPPORT.md
!ACCURACY.md
!HOVER.md
!src/
!src/**
!media/
!media/*.js
!media/*.css
!media/*.html
!media/icon.png
!CONTRIBUTING.md
!RELEASE.md

!TROUBLESHOOTING.md

!SECURITY.md

!docs/INSTALLATION.md

!package.nls*.json
